.swiper {
    z-index: -1 !important;
}

* {
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 440px) {
    .swiper-js-btns {
        position: absolute;
        right: 10px;
    }
}